html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  box-sizing: border-box;
  background: rgb(233, 243, 226);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333;
}

body header, body footer {
  flex: none;
}

body header, #content {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
}

li a {
  display: block;
  padding: 5px;
  padding-bottom: 8px;
}

header {
  text-align: center;
}

header nav {
  display: inline-block;
}

header h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1rem;
}

header ol {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

header li {
  display: inline-block;
  margin-left: 25px;
  font-weight: 700;
}

header li:first-child {
  margin-left: 0px;
}

header li.active {
  border-top: 3px solid green;
}

#content {
  margin-top: 20px;
  flex: 1 0 auto;
}

#content h2 {
  text-align: center;
}

ul.gallery {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.gallery li {
  margin-bottom: 20px;
  margin-right: 20px;
}

.gallery h3 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 5px;
}

.gallery .cell {
  display: flex;
  align-items: center;
  height: 160px;
  margin-bottom: 8px;
}

img {
  -webkit-box-shadow: 0px 2px 8px -1px rgba(80,80,80,1);
  -moz-box-shadow: 0px 2px 8px -1px rgba(80,80,80,1);
  box-shadow: 0px 2px 8px 0px rgba(80,80,80,1);
  display: block;
  background-color: white;
  padding: 8px;
}

.gallery a {
  margin: 0;
  padding: 0;
  position: relative;
}

.gallery img {
  max-height: 144px;
  max-width: 400px;
}

.dostupne:after, .nedostupne:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  transition: border-color 700ms;
  border-color: transparent transparent transparent transparent;
}

.nedostupne {
  color: #9F0202;
}

.nedostupne:hover:after {
  border-color: transparent #9F0202 transparent transparent;
}

.dostupne:hover:after {
  border-color: transparent green transparent transparent;
}

footer {
  background-color: #333;
  height: 120px;
}

.painting {
  text-align: center;
}

.painting .wrapper {
  display: inline-block;
}

.painting-details {
  text-align: left;
}

.painting p {
  font-size: 12px;
  font-weight: bold;
}

.painting img {
  max-height: 600px;
  padding: 16px;
}
